{{> parts/head}}

<h3 class="container panel panel-heading"></h3>
<div id="content">
    {{#with done}}
        Done with {{.}} result.
    {{else}}
        You can upload or download a file by posting it here.
    {{/with}}
</div>

{{> parts/tail}}