<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>:)</title>
    <link rel="stylesheet" href="{{springMacroRequestContext.request.contextPath}}/webjars/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{springMacroRequestContext.request.contextPath}}/index.css">
</head>
<body class="container">
<div class="container">