</div>
<footer class="footer navbar-fixed-bottom row-fluid">
    <div class="navbar-inner">
        <div class="container">
            <p class="text-muted">2016 &copy; daggerok</p>
        </div>
    </div>
</footer>
</body>
</html>